
body {
    background: linear-gradient(180deg, rgba(0,0,0,0) 50%,
    rgba(0,0,0,0.8) 100%),
    linear-gradient(90deg, 
    rgba(0,0,0,0.65) 6.67%, 
    rgba(0,0,0,0) 93.33%);
    
    color: white;
    text-shadow: 0px 0px 10px black;
}

 a, a:hover, .nav-link, .nav-link:hover, .page-link, .page-link:hover {
    color: white;
    text-shadow: 0px 0px 10px black;
}
/* .nav-link:hover, a:hover {
    font-size: 1.5rem;
    transition: font-size 0.5s;
}  */

.a_animation {
    color: white;
    text-shadow: 0px 0px 10px black;

    transition: font-size 0.5s;
}

.a_animation:hover {
    font-size: 1.5rem;
    transition: font-size 0.5s;
}

.capitalize_word{ text-transform: capitalize;}

.card {
    text-shadow: 0px 0px 0px rgb(153, 153, 102);

    transition: box-shadow 0.4s;
}

.card:hover {
    box-shadow: 0px 0px 20px rgb(153, 153, 102);
    transition: box-shadow 0.4s;
}
.card_display_image {

    height: 350px;    
}

.element_color {
    background-color:  rgba(0,0,0,0.65);
    transition: background-color 0.4s;
}

.element_opposite_color {
    background-color: rgb(153, 153, 102);
    transition: background-color 0.4s;
}

.paw_icon{

    box-shadow: none;

}

.dog_text {
    color: white;
    text-shadow: 0px 0px 10px black;

}

 .extra_margin{
     margin-bottom: 50vh;
 }

 .normal_link, .normal_link:hover {
     transition: none;
 }

 .page-border {

    border: 1px solid #b4bec7;

 }